@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(45,42,42);
}